<% include ../partials/header %>

<div class="comment_form">
  <h3>New Comment</h3>
  <form action="/camps/<%=camp._id%>/comment" method="post">
    <textarea name="comments[text]"></textarea>
    <button>submit</button>
  </form>
  <a href="/camps">
    <button>Back</button>
  </a>
</div>

<% include ../partials/footer %>
