<% include ./partials/header %>

<Section class="hero_banner">
  <h1>Welcome To Yelp Camp</h1>
  <a href="\camps">
    <button>List of Camps</button>
  </a>
</Section>

<% include ./partials/footer %>
