<% include ./partials/header %>

<div class="land_con">
  <h1>Welcome To Yelp Camp</h1>
  <a href="\camps">
    <input type="button" value="List of Camps" />
  </a>
</div>

<% include ./partials/footer %>
