<% include ../partials/header %>

<div class="newCamp_form">
  <h3>Add Camp</h3>
  <form action="/camps" method="post">
    <div class="newCamp_input">
      <label for="">Name </label>
      <input type="text" name="name" />
    </div>
    <div class="newCamp_input">
      <label for="">Image</label>
      <input type="text" name="image" />
    </div>
    <div class="newCamp_input">
      <label for="">Description</label>
      <textarea name="description"></textarea>
    </div>
    <div class="newCamp_buttons">
      <button>Submit</button>
      <a href="/camps">
        <button>Back</button>
      </a>
    </div>
  </form>
</div>

<% include ../partials/footer %>
