<% include ../partials/header %>

<div class="auth_form">
  <h3>Register</h3>
  <form action="/register" method="post">
    <div class="auth_input">
      <label> Username</label>
      <input type="text" name="username" placeholder="Username" />
    </div>
    <div class="auth_input">
      <label> Password</label>
      <input type="password" name="password" placeholder="Password" />
    </div>
    <div class="auth_button">
      <button>submit</button>
    </div>
  </form>
</div>

<% include ../partials/footer %>
