<% include ../partials/header %>

<div class="camp_form">
  <h3>Regster</h3>
  <form action="/register" method="post">
    Username
    <br />
    <input type="text" name="username" placeholder="input username" />
    <br />
    Password
    <br />
    <input type="password" name="password" placeholder="input password" />
    <br />
    <button>submit</button>
  </form>
</div>

<% include ../partials/footer %>
